html {
    height: 100%;
}

body {
    min-height: 100%;
    margin: auto;
}

#page-layout {
    display: grid;
    grid-template: 
        "header" 65px
        "main"   auto
        "footer" 80px;
}

#header {
    grid-area: header;
    background-color: #313131;
}

#header h1 {
    text-align: center;
    margin-top: 0.4rem;
    color: #f3768b;

}
#main {
    grid-area: main;
}

#footer {
    background-color: #313131;
    grid-area: footer;
}

.icons {
    font-size: small;
}

.information-text {
    color: white;
    font-family: 'Nanum Gothic', sans-serif;
}

.creator-color {
    color: #f3768b;
}

.link {
    color: #ffc3cd;
}
